In [1]:
import pandas as pd

In [13]:
grants_budgets_data = pd.read_excel("Grants Budgets and Payments.xlsx",sheet_name='Final')

In [14]:
grants_budgets_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18347 entries, 0 to 18346
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   GRANT_ID         18347 non-null  int64
 1   APPROVED_AMOUNT  18206 non-null  float64
 2   TOTAL_PAID       14753 non-null  float64
dtypes: float64(2), int64(1)
memory usage: 430.1 KB

In [17]:
# Step 1: Calculate REMAINING_BUDGET
def calculate_remaining_budget(row):
    if pd.isna(row['APPROVED_AMOUNT']) or pd.isna(row['TOTAL_PAID']):
        return "Unknown"
    elif row['TOTAL_PAID'] < row['APPROVED_AMOUNT']:
        return "Yes"
    elif row['TOTAL_PAID'] == row['APPROVED_AMOUNT']:
        return "No"
    elif row['TOTAL_PAID'] > row['APPROVED_AMOUNT']:
        return "Error"

grants_budgets_data['REMAINING_BUDGET'] = grants_budgets_data.apply(calculate_remaining_budget, axis=1)

In [29]:
grants_budgets_data[grants_budgets_data['REMAINING_BUDGET'] =='Unknown'].head()

      GRANT_ID  APPROVED_AMOUNT  TOTAL_PAID REMAINING_BUDGET
412    8905009        317000.00         NaN          Unknown
858    8905901         40000.00         NaN          Unknown
3056  29495113         52777.32         NaN          Unknown
3071  29523505         65922.00         NaN          Unknown
3075  29536801         39397.80         NaN          Unknown

In [ ]:

# Step 2: Left join with study data on specified keys
# Assuming study_data is already loaded as a DataFrame and has a column named 'GRANT_ID'
merged_data = pd.merge(grants_budgets_data, study_data[['GRANT_ID']], how='left', left_on='NAME', right_on='GRANT_ID')

# Step 3: Fill missing values in REMAINING_BUDGET with "N/A"
merged_data['REMAINING_BUDGET'].fillna("N/A", inplace=True)

# Step 4: Now 'merged_data' has the updated REMAINING_BUDGET column and is ready for use